In [16]:
import streamlit as st
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define the commodities and tickers
commodities = {
    "Natural Gas": "NG=F",
    "Feeder Cattle": "GF=F"
}

# Choose time range
period = st.selectbox("Select time range:", ["1mo", "3mo", "6mo", "1y"])
period = '1mo'

for name, ticker in commodities.items():


    # Download data
    df = yf.download(ticker, period=period)
    df["% Change"] = df["Close"].pct_change() * 100
    df["7d MA"] = df["Close"].rolling(window=7).mean()

    # Display latest values
    latest_price = df["Close"].iloc[-1]
    latest_change = df["% Change"].iloc[-1]
    volume = df["Volume"].iloc[-1]

    st.metric("Price", f"${latest_price:.2f}", f"{latest_change:.2f}%")
    st.write(f"Volume: {int(volume):,}")

    # Plot the price + moving average
    fig, ax = plt.subplots()
    df["Close"].plot(ax=ax, label="Close")
    df["7d MA"].plot(ax=ax, label="7d MA", linestyle="--")
    ax.set_title(f"{name} Price Over Time")
    ax.legend()
    st.pyplot(fig)

2025-03-25 23:57:05.876 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-25 23:57:05.877 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-25 23:57:05.877 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-25 23:57:05.879 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-25 23:57:05.880 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-25 23:57:05.881 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
[*********************100%***********************]  1 of 1 completed

TypeError: unsupported format string passed to Series.__format__

In [3]:
df = yf.download(ticker, period='1mo')

[*********************100%***********************]  1 of 1 completed

In [7]:
df["% Change"] = df["Close"].pct_change() * 100
df["7d MA"] = df["Close"].rolling(window=7).mean()

# Display latest values
latest_price = df["Close"].iloc[-1]
latest_change = df["% Change"].iloc[-1]
volume = df["Volume"].iloc[-1]

In [23]:
"Price", f"${latest_price.values[0]:.2f}", f"{latest_change:.2f}%"

('Price', '$3.89', '-0.72%')

In [27]:
filename = 'Natural_Gas.csv'
df = pd.read_csv(f"data/{filename}", parse_dates=True)
df

           Date  Close   High    Low   Open  Volume   % Change     7d MA
0    2024-09-26  2.585  2.690  2.524  2.640  187374        NaN       NaN
1    2024-09-27  2.902  2.932  2.720  2.744  224258  12.263053       NaN
2    2024-09-30  2.923  2.948  2.865  2.899  156783   0.723644       NaN
3    2024-10-01  2.896  2.942  2.825  2.907  161084  -0.923715       NaN
4    2024-10-02  2.886  3.000  2.870  2.898  162673  -0.345304       NaN
..          ...    ...    ...    ...    ...     ...        ...       ...
119  2025-03-19  4.247  4.259  4.046  4.052  149299   4.812442  4.152714
120  2025-03-20  3.975  4.247  3.955  4.209  185932  -6.404528  4.084429
121  2025-03-21  3.980  4.045  3.864  3.961  125273   0.125789  4.069571
122  2025-03-24  3.914  4.012  3.862  3.880   78987  -1.658291  4.041429
123  2025-03-25  3.888  3.908  3.857  3.866     809  -0.664283  4.010571

[124 rows x 8 columns]